{% extends 'main/base.html' %}

{% block title %}{{ action }} Car - Admin{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>{{ action }} Car</h2>
    <div class="card">
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'main:admin_car_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}